* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left-bar {
  height: 85vh;
  margin-top: 1%;
  overflow-y: scroll;
  position: sticky;
  top: 0;
}
.right-bar {
  height: 85vh;
  margin-top: 1%;
  position: sticky;
  top: 0;
}
a{
  text-decoration: none;
  color: rgb(117, 117, 117);
}